@tailwind base;
@tailwind components;
@tailwind utilities;

* {@apply scroll-smooth font-roboto}

html {
	margin-left: calc(100vw - 100%);
	background: #F4F7FB;
}
html.dark {
	margin-left: calc(100vw - 100%);
	background: #0f172a;
}

#__next {@apply w-full h-full}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
	color: #C5C6C7 !important;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}
.scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.flex-center {
	@apply justify-center items-center;
}
.text-start {
	text-align: start;
	text-align: left;
}


button {@apply cursor-pointer}
button:disabled {@apply cursor-not-allowed}

/* Size of buttons */
.button-small {@apply w-33 px-2 py-1 rounded-sm text-base text-center transition-colors}
.button-large {@apply w-55 px-2 py-2 rounded-sm text-base text-center transition-colors}

/* Color style of buttons */
.button-light {@apply text-yearn-blue bg-yearn-blue-light-2 hover:bg-yearn-blue-light-1}

.button-filled {@apply font-bold text-white bg-yearn-blue hover:bg-yearn-blue-dark}
.button-filled:disabled {@apply bg-white-blue-1 text-gray-blue-3 hover:bg-white-blue-1}

.button-outline {@apply text-yearn-blue border border-yearn-blue hover:bg-yearn-blue-light-2}
.button-outline:disabled {@apply text-gray-blue-3 border border-gray-blue-3 bg-opacity-0}

.link {@apply hover:text-yearn-blue hover:underline transition-colors cursor-pointer}

.flex-center {@apply justify-center items-center}

.fake-browser-controls:before {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 40px;
	position: absolute;
	top: 16px;
	left: 16px;
	background: #ff5f56;
	box-shadow: 16px 0px 0px #ffbd2e, 32px 0px 0px #27c93f;
}

select {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23004ADF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e")
}

.__react_component_tooltip.show,
.tooltip {
	height: fit-content !important;
	background: #FFFFFF !important;
	opacity: 1 !important;
	@apply bg-white border border-gray-blue-3 p-2 w-64 text-left tabular-nums font-mono !important;
}
.__react_component_tooltip .multi-line {
	@apply text-left !important;

}